form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    gap: 10px;
    align-items: center;
}

#read {
    height: 20px;
    width: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(194, 193, 193);
}

#bookshelf {
    display: grid;
}

.container {
    display: flex;
}